.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .5rem;
    gap: 1rem;
}

.actions {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--tg-theme-bg-color);
    padding: .75rem .5rem;
}
