.card {
    margin-bottom: 1rem;
    padding: .5rem;
}

.card .item {
    padding: .75rem .5rem;
    box-shadow: 5px 2px 30px rgba(211, 209, 216, 0.25);
    border-radius: var(--border-radius);
}

.card .item:not(:last-child) {
    margin-bottom: .5rem;
}

.card .item .edit .title {
    margin-bottom: .5rem;
}

.card .item .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .item .details .info .desc {
    margin-bottom: .25rem;
}

.card .item .details .info .title {
    margin: 0;
    font-weight: bold;
    font-size: var(--font-size-lg);
}

.card .item .details .arrow {
    color: var(--primary-color);
    font-size: var(--font-size-lg);
}
