.container {
    width: 100%;
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr;
    gap: .5rem;
}

.container .image {
    position: relative;
    border-radius: var(--border-radius);
    background: var(--tg-theme-bg-color);
    height: 60px;
    width: 60px;
}

.container .image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.container .details {
    display: grid;
    gap: .5rem;
}

.container .details .title {
    font-weight: 600;
    display: inline-block;
    margin: 0;
}

.container .details .desc {
    font-size: var(--font-size-sm);
    color: var(--tg-theme-hint-color);
}
