.modify {
    padding: 18px 10px 10px 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*width: 100%;*/
    overflow: hidden;
    /*height: 100%;*/
    text-align: center;
    position: relative;
}

.modify .title {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: var(--font-size-md);
    line-height: 19px;
    font-weight: 600;
    color: #000000;
}

.modify p {
    font-size: var(--font-size-sm);
    line-height: 19px;
    font-weight: 400;
}

.bottomBlock {
    width: 100%;
}

.button {
    background: #F2F2F2;
    color: var(--tg-theme-text-color);
    width: 100%;
    padding: 2px;
    border-radius: 100px;
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 22px;
    line-height: 100%;
}

.button.active {
    background: var(--primary-color);
    color: white;
}
