.actions {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: .5rem;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: var(--tg-theme-bg-color);
    box-shadow: 0 -7px 10px rgba(0, 0, 0, 0.06);
}

.actions .price {
    white-space: nowrap;
    font-weight: bolder;
    font-size: 20px;
}
