.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    gap: 1rem;
}

.selectHalfs {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    margin-bottom: 1rem;
}

.switches {
    padding: 0 .5rem;
    margin-bottom: auto;
}

.actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: .5rem;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: var(--tg-theme-bg-color);
}

[data-theme="light"] .actions {
    box-shadow: 0 -7px 10px rgba(0, 0, 0, 0.06);
}

.actions .price {
    white-space: nowrap;
    font-weight: bolder;
    font-size: 20px;
}
