.card {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    padding: .5rem 1rem;
    position: relative;
    box-shadow: 5px 2px 5px rgba(211, 209, 216, 0.1);
}

.card::after {
    content: "+";
    background: var(--tg-theme-button-color);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 14px 0 14px 0;
    height: 25px;
    width: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 0;
}

.icon {
    font-size: 35px;
    margin-right: .5rem;
}

.title {
    font-size: var(--font-size-lg);
    white-space: nowrap;
}
