.promocode {
    padding: 1rem .5rem;
}

.promocode label {
    display: inline-block;
    margin-bottom: .5rem;
    color: var(--tg-theme-hint-color);
}

.promocode .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 1rem;
}

.promocode .container .wrapperInput input {
    width: 100%;
    height: 44px;
    padding: .5rem;
    background: var(--tg-theme-bg-color);
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.33);
    font-weight: bolder;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

[data-theme="light"] .promocode .container .wrapperInput input {
    background: #EFEFEF;
    border: 0;
}

.message {
    background: #FFE8C6;
    border-radius: var(--border-radius);
    padding: 1rem;
}
