.container h2 {
    margin-top: 0;
    margin-bottom: .75rem;
    padding: 0 .5rem;
}

.container .list {
    /*padding: .5rem .5rem 1rem;*/
    padding: .5rem .5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    /*background: #f9f9f9;*/
}

.container .list .card {
    padding: .25rem 1rem;
    border-radius: var(--border-radius);
    text-transform: none;
    text-decoration: none;
    white-space: nowrap;
    color: var(--tg-theme-text-color);
    text-align: center;
}

.container .list .card.active {
    background-color: var(--primary-color);
    background-image: var(--primary-gradient);
    color: white;
}

.container .list .card .icon {
    font-size: 35px;

}

.container .list .card .title {
    font-size: var(--font-size-md);
}


.content {
    overflow: hidden;
    padding: 1rem .5rem;
}
