.container {
    padding: 0 .5rem;
}

.container h1 {
    margin-top: 0;
}

.container .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
}

.container .list .card {
    padding: .5rem 1rem;
    border-radius: 14px;
    text-transform: none;
    text-decoration: none;
    white-space: nowrap;
    color: var(--tg-theme-text-color);
    text-align: center;
    box-shadow: 5px 2px 30px rgba(211, 209, 216, 0);
    transition: box-shadow .2s ease-in-out;
}

.container .list .card.active {
    background: white;
    box-shadow: 5px 2px 30px rgba(211, 209, 216, 0.3);
}

.container .list .card .icon {
    font-size: 35px;
}

.container .list .card .title {
    font-size: 20px;
    font-weight: bold;
    /*font-size: 20px;*/
}
