.drawer {
    /*display: ${({show}) => (show ? "block" : "none")};*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-left: 0;
    padding: 1rem;
    background: var(--component-background);
    overflow: hidden;
    overflow-y: scroll;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}