.container {
    padding: 0 .5rem 3.5rem;
}

.button {
    position: fixed;
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
    border-radius: var(--border-radius);
    border: 0;
    background: var(--primary-gradient);
    color: white;
    padding: .5rem;
    font-size: var(--font-size-lg);
}
