.wrapper {
    position: relative;
}

.container {
    padding: 0 .5rem 1rem;
}

.bottomInfo {
    background: var(--tg-theme-bg-color);
    /*position: fixed;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
}

.totalInfo {
    padding: .5rem;
}

.totalInfo .item {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}


.totalInfo .item .value {

}

.totalInfo .totalPrice .title {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
}

.totalInfo .totalPrice .value {
    font-weight: 800;
    font-size: 21px;
    line-height: 19px;
}

.actions {
    background: var(--tg-theme-bg-color);
    position: sticky;
    bottom: 0;
    padding: 1rem .5rem;
    box-shadow: 5px 2px 10px rgba(223, 223, 223, 0.88);
}


.actions .button {
    display: flex;
    justify-content: space-between;
}

.actions .button .left {
    font-weight: normal;
}

.actions .button .right {
    font-weight: bolder;
    font-size: var(--font-size-lg);
}
