.overlay {
    z-index: 10;
    position: fixed;
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}

.container {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 20;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
}

.card {
    position: relative;
    background: var(--tg-theme-bg-color);
    border-radius: 28px 28px 0 0;
    overflow: hidden;
    margin: 0 auto;
    max-height: calc(100vh - 50px);
    height: auto;
    min-height: 100%;
    pointer-events: all;
    max-width: 700px;
}

.scroll {
    max-height: calc(100vh - 20px);
    height: 100%;
    overflow: hidden;
}

/*.close {*/
/*    position: absolute;*/
/*    top: .5rem;*/
/*    right: .5rem;*/
/*    z-index: 2;*/
/*    height: 35px;*/
/*    width: 35px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border-radius: 50%;*/
/*    background: var(--tg-theme-bg-color);*/
/*    color: var(--tg-theme-text-color);*/
/*    font-size: var(--font-size-lg);*/
/*    box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);*/
/*}*/

.title {
    font-size: 25px;
    line-height: 25px;
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-left: .5rem;
}

.dragClose {
    padding: 12px 0;
    text-align: center;
    line-height: 0;
}

.dragBorder {
    line-height: 0;
    display: inline-block;
    width: 56px;
    height: 4px;
    background: #E3E3E3;
    border-radius: 10px;
}
