.container {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    gap: 1rem;
}

.extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    margin-bottom: .5rem;
}
