.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.container:first-child {
    padding-top: 0;
}

.container .gift {
    align-items: center;
    background: #FFFBEE;
}

.container .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.container .info .image {
    width: 80px;
    height: 80px;
    position: relative;
}

.container .info .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container .info .details {

}

.container .info .details .title {
    font-weight: 400;
    font-size: calc(var(--font-size-md) + 1px);
    line-height: 19px;
    margin: 0 0 .25rem;
}

.container .info .details .desc {
    max-width: 150px;
    font-size: var(--font-size-sm);
    line-height: 19px;
    color: #828282;
}

.container .counter {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container .prices {

}

.container .prices .price {
    font-weight: 600;
    font-size: var(--font-size-md);
    line-height: 14px;
    text-align: right;
    color: var(--tg-theme-text-color);
}

.oldPrice:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--danger-color);
}

.salePriceWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.oldPrice {
    margin-right: 5px;
    font-weight: 600;
    font-size: calc(var(--font-size-sm) + 1px);
    line-height: 14px;
    text-align: right;
    color: #000000;
    opacity: 0.5;
    position: relative;
}
