.cartItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /*border-bottom: 1px solid var(--bor);*/
    padding: .5rem 0;
}

.cartItem:last-child {
    border-bottom: none;
}

.cartItem .image {
    position: relative;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.cartItem .image img {
    width: 130px;
    height: 50px;
    object-fit: contain;
}

.cartItem .details {
    width: 100%;
    margin-left: 10px;
}

.cartItem .details .info {
    margin-bottom: .5rem;
}

.cartItem .details .info .title {
    font-weight: bold;
    font-size: var(--font-size-md);
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
}

.cartItem .details .info .desc {
    font-size: var(--font-size-sm);
    color: var(--tg-theme-hint-color);
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.actions .price {
    display: flex;
    align-items: center;
    flex: 1;
    text-align: right;
}

.red {
    color: var(--danger-color);
}
