.container {
    display: grid;
    gap: .5rem .5rem;
}

.combo {
    grid-template-columns: 150px 1fr;
    align-items: center;
    position: relative;
}

.combo .image {
    overflow: hidden;
    /*margin: 0 auto .5rem;*/
    border-radius: var(--border-radius);
}

.combo .image img {
    border-radius: var(--border-radius);
    width: 100%;
    object-fit: contain;
}

.combo .btn {
    position: absolute;
    right: .5rem;
    bottom: .75rem;
    color: white;
    background: var(--warning-gradient);
    font-size: var(--font-size-md);
    font-weight: bolder;
    border: 0;
    border-radius: var(--border-radius);
    padding: .5rem 1rem;
}

.combo .details {

}

.combo .details h4 {
    margin: 0 0 .5rem;
    font-weight: 400;
    font-size: var(--font-size-md);
}

.combo .details .desc {
    font-size: var(--font-size-sm);
    color: var(--tg-theme-hint-color);
}
