.wrapper {
    position: relative;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.backAndImage {
    position: relative;
}

.backAndImage .back {
    position: absolute;
    left: .5rem;
    top: .5rem;
    background: var(--tg-theme-bg-color);
    vertical-align: center;
    line-height: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
    color: var(--tg-theme-text-color);
    text-align: center;
    border: 0;
    border-radius: 50%;
    font-size: 30px;
    padding: 0;
}

.image {
    overflow: hidden;
}

.image img {
    width: 100%;
}

.container {
    padding: .5rem;
}

.container .title {
    margin: 0 0 1rem;
}

.container .desc {
    font-size: var(--font-size-md);
    margin-bottom: 1rem;
}
