.actions {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--tg-theme-bg-color);
    box-shadow: 0 -7px 10px rgba(0, 0, 0, 0.06);
    display: flex;
    margin-top: auto;
    padding: .5rem;
    gap: 1rem;
    align-items: center;
    z-index: 5;
}

.actions .price {
    white-space: nowrap;
    font-weight: bolder;
    font-size: 20px;
}

.actions .button {
    font-weight: bolder;
    width: 100%;
    border: 0;
    background: var(--primary-gradient);
    color: white;
    padding: .75rem 1rem;
    font-size: var(--font-size-lg);
    border-radius: 40px;
}

.actions .button:disabled {
    opacity: .5;
}
